.footer_back{
    width: 100%;
    height: 100px;
//    background-color: red;
      display: flex;
            align-items: center;
            justify-content: center;
}
@media only screen and (max-width: 400px){
    .footer_back{
    width: 100%;
    height: 100px;
//    background-color: red;
      display: flex;
            align-items: center;
            justify-content: center;
            font-size: 10px;
}
}